@import url('./Main.css');

.login-body {
  background-color: #ebebeb;
  color: black;
}

.login-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 50vw;
  height: max-content;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1em;
  border: 3px solid white;
  border-radius: 1em;
  animation: colorchange 5s linear infinite;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  border: 2px solid var(--forest-green);
  margin-bottom: 10px;
  cursor: text;
  font-family: poppins;
}

input[type="checkbox"] {
  cursor: pointer;
}

input:hover,
.login-action-btn-box button:hover {
  border-color: var(--jade-green);
}

.login-action-btn-box {
  margin-top: 10px;
}

.login-action-btn-box button {
  width: 200px;
  border: 2px solid var(--forest-green);
}

@keyframes colorchange {
  0% {
    border-color: var(--forest-green);
  }

  25% {
    border-color: var(--chateau-green);
  }

  50% {
    border-color: var(--jade-green);
  }

  75% {
    border-color: var(--emerald-green);
  }

  100% {
    border-color: var(--forest-green);
  }
}

@media (prefers-color-scheme: dark) {
  @keyframes colorchange {
    0% {
      border-color: var(--cyan-blue);
    }

    25% {
      border-color: var(--blue-green);
    }

    50% {
      border-color: var(--light-sea-green);
    }

    75% {
      border-color: var(--turquoise);
    }

    100% {
      border-color: var(--cyan-blue);
    }
  }

  .login-body {
    background-color: #181818;
    color: white;
  }

  .login-main {
    background-color: #252525;
  }

  input[type="text"],
  input[type="password"],
  .login-action-btn-box button {
    border-color: var(--light-sea-green);
  }

  input:hover,
  .login-action-btn-box button:hover {
    border-color: var(--turquoise);
  }
}

@media only screen and (max-width: 815px) {

}
