:root {
  --forest-green: #10812e;
  --chateau-green: #48a860;
  --jade-green: #00a86b;
  --emerald-green: #50c878;
  --cyan-blue: #15a3c7;
  --blue-green: #0d98ba;
  --light-sea-green: #20b2aa;
  --turquoise: #40e0d0;

  --background-white: #f5f5f5;

  --manager: #79ac78;
  --manager-light: #ddf1dd;
  --admin: #cc704b;
  --admin-light: #f1e1da;
  --judge: #4e88b9;
  --judge-light: #dae1f3;

  --button-fg: #d9d9d9;
  --button-bg: #525252;

  --green-1: #a4e2a6;
  --green-2: #8decb4;
  --red-1: #ef9e9a;
  --red-2: #ff8080;
  --yellow: #f6e9b2;
  --blue: #a0dbff;
  --purple: #ad88c6;
}

.home-body {
  background-color: var(--background-white);
}

.toolbar {
  position: sticky;
  font-size: 1em;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  background-color: var(--background-white);
  color: var(--button-bg);
  border-bottom: 1px solid black;
  border-radius: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.toolbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.toolbar ul li {
  display: inline-block;
  padding: 10px 20px;
}

.toolbar ul li a {
  color: var(--button-bg);
  text-decoration: none;
}

.toolbar ul li:hover {
  background-color: rgba(217, 217, 217, 0.5);
}

.dropdown-menu {
  position: absolute;
  top: 60px;
  right: 0px;
  background-color: white;
  list-style: none;
  height: 100px;
  width: min-content;
  display: flex;
  flex-direction: column;
  width: auto;
  height: 100px;
}

.dropdown-menu li a {
  color: #333;
  text-decoration: none;
}

.sidebar {
  background-color: var(--background-white);
  border-right: 1px solid black;
  padding: 0em 0em 0em 0.6em;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  font-size: 1em;
  overflow: hidden;
  transition: width 0.5s ease;
  width: 5%;
  z-index: 1;
}

.sidebar-logo {
  width: 3em;
  height: 3em;
}

.sidebar-icon {
  width: 2em;
  height: 2em;
  margin-right: 1em;
}

.sidebar-smalltxt {
  font-size: 0.9rem;
  margin: 10px;
}

.sidebar-logobox {
  display: flex;
  align-items: center;
  color: var(--button-bg);
  font-weight: 900;
  font-size: 1em;
  font-synthesis: weight;
  height: 65px;
}

.sidebar-optionbox {
  display: flex;
  align-items: center;
  height: 66px;
  color: var(--button-bg);
  padding: 0.5em;
}

.sidebar-optionbox:hover {
  background-color: var(--button-fg);
}

.home-main{
  width: 1280px;
  height: 100%;
  transition: ease;
  transition-duration: 0.5s;
}
.home-main-content{
  margin: 20px;
}

.sidebar:hover .home-main-content{
  background-color: red;
}

.login-body {
  background-color: #ebebeb;
  color: black;
}

.login-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 50vw;
  height: max-content;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1em;
  border: 3px solid white;
  border-radius: 1em;
  animation: colorchange 5s linear infinite;
}

.login-errormessage {
  color: red;
  background-color: "#ffdcdc";
  padding-left: 10px;
  border: 1px solid red;
}

.login-input {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  border: 2px solid var(--forest-green);
  margin-bottom: 10px;
  cursor: text;
  font-family: poppins;
}

.login-input-checkbox {
  cursor: pointer;
}

.login-input:hover,
.login-action-btn-box button:hover {
  border-color: var(--jade-green);
}

.login-action-btn-box {
  margin-top: 10px;
}

.login-action-btn-box button {
  width: 200px;
  border: 2px solid var(--forest-green);
}

@keyframes colorchange {
  0% {
    border-color: var(--forest-green);
  }

  25% {
    border-color: var(--chateau-green);
  }

  50% {
    border-color: var(--jade-green);
  }

  75% {
    border-color: var(--emerald-green);
  }

  100% {
    border-color: var(--forest-green);
  }
}

@media (prefers-color-scheme: dark) {
  @keyframes colorchange {
    0% {
      border-color: var(--cyan-blue);
    }

    25% {
      border-color: var(--blue-green);
    }

    50% {
      border-color: var(--light-sea-green);
    }

    75% {
      border-color: var(--turquoise);
    }

    100% {
      border-color: var(--cyan-blue);
    }
  }

  .login-body {
    background-color: #181818;
    color: white;
  }

  .login-main {
    background-color: #252525;
  }

  .login-input,
  .login-action-btn-box button {
    border-color: var(--light-sea-green);
  }

  .login-input:hover,
  .login-action-btn-box button:hover {
    border-color: var(--turquoise);
  }
}

.home-body{
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.evmgmt-table {
  border-collapse: collapse;
  width: 100%;
}

.evmgmt-table th {
  background-color: var(--manager-light);
  border: 1px solid var(--manager);
  padding: 8px;
  text-align: left;
}

.evmgmt-table td {
  border: 1px solid var(--manager);
  padding: 8px;
}

.evmgmt-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.evmgmt-table tbody tr:hover {
  background-color: #dddddd;
}

.evmgmt-btn-create{
  background-color: var(--manager); 
  color: white;
}
.evmgmt-btn-create:hover{
  background-color: #619960; 
  color: white;
}