:root {
    --forest-green: #10812e;
    --chateau-green: #48a860;
    --jade-green: #00a86b;
    --emerald-green: #50c878;
    --cyan-blue: #15a3c7;
    --blue-green: #0d98ba;
    --light-sea-green: #20b2aa;
    --turquoise: #40e0d0;
  }